<div class="sidebar">
	<div class="container sidebar-sticky">
		<div class="sidebar-about">

			<h1>
				<a href="/">
					<img class="profile-picture" src="{{ SITEURL }}/images/{{ PROFILE_IMAGE }}">
					{{ SITENAME }}
				</a>
			</h1>
			<p class="lead"></p>
			<p class="lead">{{ BIO }} </p>
			<p></p>
		</div>
		<nav class="sidebar-nav">
			<a class="sidebar-nav-item" href="{{ SITEURL }}/">Home</a>
			{% for page in pages %}
			<a class="sidebar-nav-item" href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>
			{% endfor %}
		</nav>
		<nav class="sidebar-nav">
			<a class="sidebar-nav-item-social" href="mailto:karambir@codesters.org">
				<i class="fa fa-envelope"></i>
			</a>
			{% for name, link in SOCIAL %}
			<a class="sidebar-nav-item-social" href="{{ link }}">
				<i class="fa fa-{{ name }}"></i>
			</a>
			{% endfor %}
			<a class="sidebar-nav-item-social" href="{{ FEED_ALL_ATOM }}">
				<i class="fa fa-feed"></i>
			</a>
		</nav>
	</div>
</div>
